.bg_home {
  /* --gradient-color-1: #ffc107;
  --gradient-color-2: #ff9800; */
  --gradient-color-1: #e4eaee;
  --gradient-color-2: #e2e3ea;
  --gradient-color-3: #d3d8df;

  background-image: linear-gradient(
    to bottom,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 40%,
    var(--gradient-color-3) 100%
  );
  /* background: -webkit-linear-gradient(
    90deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  );
  background: -o-linear-gradient(
    90deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  );
  background: -ms-linear-gradient(
    90deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 100%
  ); */
}
