.gradient_text {
    background-image: linear-gradient(
      to right,
      var(--primary-gray) 0%,
      var(--secondary-gray) 30%,
      var(--tertiary-color) 100%
    );
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  