.button_collection {

  /* box-shadow: 1px 1px 1px 1px #486263;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  background-color: var(--secondary-gray);
  padding: 0 2px;
  width: min(170px, 100%);
  border-radius: 3px; */
}
.button_collection:hover {
  box-shadow: inset 1px 1px 1px 1px #486263;
}
