@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-85: #75135d85;
  --secondary-color-85: #3278db85;
  --tertiary-color-85: #67e8f985;
  --primary-color: #75135d;
  --secondary-color: #3278db;
  --tertiary-color: #67e8f9;
  --primary-gray: #b0dee1;
  --secondary-gray: #8dcacf;
  --tertiary-gray: #65afbc;
  --quaternary-gray: #488197;
  --purple-300: #4e0258;
  --purple-400: #6c027c;
  --cyan-100-50: #b0dee144;
  --cyan-100: #b0dee1;
  --cyan-200: #94dbe0;
  --cyan-300: #6ed9e0;
  --cyan-400: #39d1dc;
  --cyan-500: #12d4e2;
  --purple-000: #c100db4f;
  --purple-500: #c100db;
  --purple-600: #9900ad;
  --purple-700: #790088;
  --purple-800: #53005e;
  --purple-900: #3b0043;
  --purple-1000: #17001a;
}

.bg_gradient_cyan {
  background: linear-gradient(
    90deg,
    var(--cyan-100-50),
    var(--cyan-100),
    var(--cyan-200),
    var(--cyan-300),
    var(--cyan-300),
    var(--cyan-300),
    var(--cyan-300),
    var(--cyan-300),
    var(--cyan-200),
    var(--cyan-100),
    var(--cyan-100-50)
  );
  /* background: linear-gradient(90deg, var(--cyan-100) 0%, var(--cyan-200) 100%); */
}
.bg_gradient_purple {
  background: linear-gradient(
    90deg,
    var(--purple-700) 0%,
    var(--purple-800) 100%
  );
  /* background: linear-gradient(
    90deg,
    var(--purple-000),
    var(--purple-600),
    var(--purple-600),
    var(--purple-600),
    var(--purple-600),
    var(--purple-000)
  ); */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}
.primary_color {
  color: var(--primary-color);
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
  /* list-style: decimal!important; */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
