.container_login {
  /* transform: rotate3d(1, 1, 1, 10deg); */
  animation: change-box-shadow-color 10s ease infinite;
}
.bg_img_login_card {
  background-image: linear-gradient(
      to bottom,
      #f5f6fc12,
      var(--primary-color-85),
      var(--tertiary-color-85)
    ),
    url("../../../assets/images/login/bg-login3.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.login_container_animation {
  animation: login-container-animation 2s ease-in-out,
    changing-color-shadow 2s ease-in-out infinite;
  /* transition: 1s all; */
  border: 1px solid rgba(0, 255, 255, 0.616);
  position: relative;
}
@keyframes changing-color-shadow {
  25% {
    box-shadow: 0px 0px 15px 0px rgb(37, 164, 196);
  }
  50% {
    box-shadow: 0px 0px 15px 0px rgb(37, 111, 196);
  }
  75% {
    box-shadow: 0px 0px 15px 0px rgb(37, 164, 196);
  }
  0%,
  100% {
    box-shadow: 0px 0px 15px 0px rgb(37, 196, 188);
  }
}
@keyframes login-container-animation {
  0% {
    height: 0;
    width: 0;
    opacity: 0;
  }
  20% {
    max-height: min(100px, 30%);
    border: 0.4px solid cyan;
    width: min(90px, 60%);
    opacity: 0.1;
  }

  30% {
    width: min(200px, 60%);
    max-height: min(300px, 30%);
    border: 1px solid rgba(0, 255, 255, 0.281);
    opacity: 0;
    padding: 0.4;
  }

  70% {
    opacity: 0.8;
    width: min(300px, 60%);
    max-height: min(400px, 40%);
    border: 1px solid rgba(0, 255, 255, 0.616);
  }
  100% {
    opacity: 1;
    width: min(500px, 80%);
    max-height: min(700px, 90%);
    border: 0.4px solid rgba(0, 255, 255, 0.068);
  }
}

@keyframes change-box-shadow-color {
  0%,
  33.33% {
    box-shadow: 0px 0px 10px 5px var(--primary-color-85);
  }
  33.33%,
  66.66% {
    box-shadow: 0px 0px 10px 5px var(--secondary-color-85);
  }
  66.66%,
  100% {
    box-shadow: 0px 0px 10px 5px var(--tertiary-color-85);
  }
  100% {
    box-shadow: 0px 0px 10px 5px var(--primary-color-85);
  }
}
.wave {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg");
  height: 100%;
  width: 6400px;
}
.wave1 {
  position: absolute;
  top: 0px;
  opacity: 0.4;
}
.wave2 {
  opacity: 0.9;
  position: absolute;
  top: 0px;
}
.animation_move_x {
  animation: wave 8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}
.animation_move_x2 {
  animation: wave 16s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes wave {
  0% {
    left: 0;
  }
  100% {
    left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
